.p_text_1 {
    background-color: gray;
    color : white;
    font-family: monospace;
    border-radius: 0.25em;
}

h2 {
    background-color: gray;
    color : white;
    font-family: monospace;
    border-radius: 0.25em;  
}